@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

:root {
  --primary: #D9774D;
  --secondary: #e2eb9e;
  --accent: hsl(34, 78%, 81%);
}

* {
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px #000;
  padding: 0 5%;
  height: 50px;
}

h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  /* allows h1 to be aligned with the nav */
  font-weight: 600;
  font-size: 24px;
  background-color: var(--secondary);
  padding: 2px 5px;
  border-radius: 7px;
  cursor: default;
}

ul {
  display: flex;
}

li {
  font-weight: 600;
  list-style: none;
  padding: 5px 10px;
  font-family: sans-serif;
}

ul a {
  color: #000;
  margin: 0 5px;
  text-decoration: none;
  transition: 0.3s ease;
  border-radius: 7px;
  border-bottom: 2px solid var(--secondary);
  border-top: 2px solid var(--secondary);
}

ul a:hover {
  background-color: var(--secondary);
}

/* End of header */

#hero img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

#hero {
  width: 100%;
  height: 40vh;
  background-image: url("");
  background-size: cover;
  background-position-x: -1px;
  background-position-y: -0px;
}


#subContent {
  background-color: var(--primary);
  height: fit-content;
  padding: 30px 5%;
  display: flex;
  flex-direction: column;
}


/* Food Filter/Categories */
#filter {
  display: flex;
  justify-content: space-between;
}

#filter h2 {
  color: #000;
  background-color: var(--secondary);
  padding: 0 5px;
  margin-bottom: 5px;
  border-radius: 7px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

/* I want the select's to be centered with the filter h2's but don't really know how */
select {
  background-color: #000;
}

/* .select:not(.is-multiple):not(.is-loading)::after {
  border-color: var(--secondary);
} */

#searchbtn {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 40%;
  margin-top: 120px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 24px;
  /* styling */
  padding: 10px;
  background-color: var(--primary);
  border: 2px solid var(--secondary);
  border-radius: 10px;
  color: var(--secondary);
  transition: background-color 0.3s ease;
}

#searchbtn:hover {
  background-color: var(--secondary);
  /* border: 2px solid var(--primary); */
  color: var(--primary);
}

#searchbtn:active {
  opacity: 0.85;
}

/* Recipes */
#recipes {
  margin-top: 50px;
  border: 2px solid var(--accent);
  border-radius: 6px;
  height: fit-content;
  background-color: hsla(34, 77%, 77%, 0.5);
}

#recipes h2 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  background-color: var(--accent);
  border-radius: 3px 3px 0 0;
}

.recipeColumns {
  border-radius: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  cursor: pointer;
  transition: .8s ease;
}

.recipeColumns:hover {
  scale: 100.7%;
  box-shadow: 0 0 20px rgba(110, 110, 110, 0.5);
  transition: 0.2s ease;
}

/*  */
.recipeColumns img {
  margin: 5px;
  border-radius: 5px;
  height: 100px;
}


/* Code For JS */
.hideIt {
  display: none;
}